@mixin flexHome() {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: $espaciado*1.5;
    max-width: 90vw;
    margin: 0 auto;
    
}
@mixin ubicacion($order) {
    order: $order;
    width: 30rem;
    max-width: 80vw;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
}
.fotoHome{
    height: 24rem;
    width: 100%;
    background-image: url(../imagenes/foto-pelota.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
}
.sectPredio{
    .sectPredio__flex{
        @include flexHome();
        .sectPredio__derecha{
            @include ubicacion(2);
            .sectPredio__link{
                transition: all .4s;
                &:hover{
                    color: $colorVerde;
                    font-size: 1.8rem;
                }
            }
        }
        .sectPredio__izquierda{
            @include ubicacion(1);
            .sectPredio__img{
                @include estiloImgIndex();
            }
        }
    }
}
.sectReservas{
    background-color: $colorCeleste;
    .sectReservas__titulo{
        width: 75vw;
        margin: 0 auto;
        .sectReservas__link{
            transition: all .4s;
            &:hover{
                color: $colorVerde;
                font-size: 4rem;
            }
        
        }
    }
    .sectReservas__flex{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        .sectReservas__icono{
            width: 9rem;
        }
    }
}
.sectTorneos{
    .sectTorneos__flex{
        @include flexHome();
        .sectTorneos__izquierda{
            @include ubicacion(1);
            .sectTorneos__parrafo{
                text-align: justify;
            }
        }
        .sectTorneos__derecha{
            @include ubicacion(2);
            .sectTorneos__img{
                @include estiloImgIndex();
            }
        }
    }
}
.sectContacto{
    background-color: $colorCeleste;
    .sectContacto__flex{
        @include flexHome();
        .sectContacto__ubicacion{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            margin-left: 1.3rem;
            margin-right: 1.3rem;
            .sectContacto__mapa{
                border-radius: .3rem;
                max-width: 80vw;
            }
        }
        .sectContacto__mensaje{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            padding-bottom: $espaciado;
            margin-left: 1.3rem;
            margin-right: 1.3rem;
            .sectContacto__grid{
                display: grid;
                grid-template-columns: 5rem 18rem;
                grid-template-rows: auto;
                .sectContacto__input{
                    @include campoFormulario (90%);
                }
            }
            .sectContacto__textarea{
                @include campoFormulario (10rem);
           }
           .sectContacto__boton{
                @include botones(7rem);
           }
           .sectContacto__datos{
            font-weight: lighter;
            font-size: 1.4rem;
            font-family: 'Archivo Narrow', sans-serif;
            color: black;
            margin: 0;
            padding: 0;
           }
        }
    }
}

@media only screen and (max-width: 488px){
    .fotoHome{
        height: 12rem;
    }
    .sectPredio{
        .sectPredio__flex{
            .sectPredio__derecha{
                padding-top: 1rem;
            }
        }
    }
    .sectReservas{
        h2,h3{
            padding-top: .5rem;
            padding-bottom: .5rem;
            font-size: 1.7rem;
        }
        .sectReservas__link a{
            color: $colorVerde;
        }
        .sectReservas__icono{
            display: none;
        }
    }
    .sectContacto{
        .sectContacto__flex{
            .sectContacto__mensaje{
                padding-bottom: 0rem;
                .sectContacto__grid{
                    grid-template-columns: 30% 70%;
                    width: 80vw;
                }
                .sectContacto__boton{
                    width: 4.25rem;
                    height: 1.5rem;
                    font-size: .8rem;
                    border: solid #000000 1px;
                }
                .sectContacto__datos{
                    font-size: 1rem;
                }
            }
        }
    }
}
